{% if this.proof %}
    {% if this.isPicture %}
        {# Picture proof - clickable thumbnail that opens full image #}
        <a href="{{ path('vgr_proof_picture_show', {id: this.pictureId}) }}" target="_blank" class="d-block">
            <img
                src="{{ path('vgr_proof_picture_show', {id: this.pictureId}) }}"
                alt="Proof"
                class="img-fluid rounded shadow-sm"
                style="max-height: 300px; cursor: pointer;"
            >
        </a>
    {% elseif this.isVideo %}
        {# Video proof - embedded player #}
        <div class="ratio ratio-16x9">
            <iframe
                src="{{ this.videoEmbeddedUrl }}"
                title="{{ this.videoTitle ?? 'Video proof' }}"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                class="rounded shadow-sm"
            ></iframe>
        </div>
    {% endif %}
{% endif %}
