{% trans_default_domain 'PnUser' %}
<div class="btn-group">
    <a href="{{ admin.generateUrl('statistics') }}" class="btn btn-default navbar-btn btn-sm" title="{{ 'statistics.button_tooltip'|trans }}">
        <i class="fa fa-chart-line"></i>
        {{ 'statistics.button'|trans }}
    </a>
</div>