// Utilities - Base styles

/* == @section Global ==================== */
* {
    box-sizing: border-box;
}

body {
    font-family: $font-stack-common;
    overflow-x: hidden; // Évite la scrollbar horizontale causée par l'image du header
    // Bootstrap gère déjà font-size, line-height, etc.
}

/* == @section Links ==================== */
a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/* == @section Images ==================== */
img {
    max-width: 100%;
    height: auto;
}

/* == @section Headings ==================== */
h1, .h1,
h2, .h2,
h3, .h3 {
    font-family: $font-stack-headings;
    font-weight: normal;
}


