/* Achievement Colors */
.text-platinum {
    color: hsl(197, 100%, 85%);
}

.text-gold {
    color: hsl(51, 100%, 50%);
}

.text-silver {
    color: hsl(0, 0%, 75%);
}

.text-bronze {
    color: hsl(30, 61%, 50%);
}

/* Achievement Background Colors */
.bg-platinum {
    background-color: hsl(197, 100%, 85%) !important;
    color: hsl(197, 100%, 15%) !important;
}

.bg-gold {
    background-color: hsl(51, 100%, 50%) !important;
    color: hsl(51, 100%, 10%) !important;
}

.bg-silver {
    background-color: hsl(0, 0%, 75%) !important;
    color: hsl(0, 0%, 15%) !important;
}

.bg-bronze {
    background-color: hsl(30, 61%, 50%) !important;
    color: hsl(30, 61%, 10%) !important;
}

