/* Achievement Colors */
.text-platinum {
    color: hsl(197, 100%, 85%);
}

.text-gold {
    color: hsl(51, 100%, 50%);
}

.text-silver {
    color: hsl(0, 0%, 75%);
}

.text-bronze {
    color: hsl(30, 61%, 50%);
}

