/* Proofs squares */
[class^="proof--"] {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: grey;
    border: 1px solid $black;
}

.proof {
    &--none {
        background-color: #ccc;
    }

    &--request-pending {
        background-color: orange;
    }

    &--request-validated {
        background-color: red;
    }

    &--request-proof-sent {
        background-color: yellow;
    }

    &--proof-sent {
        background-color: blue;
    }

    &--proved {
        background-color: green;
    }

    &--unproved {
        background-color: black;
    }
}



