{% trans_default_domain 'VgrCore' %}

<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3">
    {% for pc in playerCharts %}
        <div class="col" id="score-card-{{ pc.id }}">
            {% include '@VideoGamesRecordsProof/player/_score_card.html.twig' %}
        </div>
    {% endfor %}
</div>
