<div class="card border shadow-sm h-100">
    <div class="card-header border-bottom">
        <h5 class="mb-0"><i class="bi bi-trophy"></i> Game of the Day</h5>
    </div>
    {% if game %}
        <div class="card-body p-0">
            <div class="text-center p-2">
                <img src="{{ path('vgr_core_game_picture', {id: game.id}) }}" alt="{{ game.name }}" class="img-fluid" style="max-height: 180px;">
            </div>
            <div class="p-3 pt-0">
                <h6 class="mb-0 text-center">{{ game.name }}</h6>
            </div>
        </div>
    {% else %}
        <div class="card-body text-center text-muted py-4">
            No game of the day
        </div>
    {% endif %}
</div>
